<a href="https://colab.research.google.com/github/millejade/Machine-Learning/blob/main/MultipleRegressionUoWashington.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [111]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':int, 
              'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':int, 'zipcode':int, 
              'long':float, 'sqft_lot15':int, 'sqft_living':int, 'floors':float, 'condition':int, 
              'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':float, 'sqft_lot':int, 'view':int}

In [112]:
sales = pd.read_csv('dataset/kc_house_data.csv', dtype=dtype_dict)

In [113]:
train, test = train_test_split(sales, test_size=0.2)

In [114]:
sample_feat, sample_target = train[['sqft_living', 'bedrooms', 'bathrooms']], train.price

In [115]:
sample_feat_test, sample_target_test = test[['sqft_living', 'bedrooms', 'bathrooms']], test.price

In [116]:
sample_model = LinearRegression().fit(sample_feat, sample_target)

In [117]:
sample_intercept_summary = sample_model.intercept_
sample_coef_summary = sample_model.coef_
print(f"Intercept: {sample_intercept_summary}")
print(f"Coefficient/s: {sample_coef_summary}")

Intercept: 69979.09880341758
Coefficient/s: [   315.09839729 -59133.04319357   7223.5542027 ]

In [118]:
sample_pred = sample_model.predict(sample_feat)
print(sample_pred[0])

480966.95381695416

Compute RSS

In [119]:
def rss(model, data, outcome):
  pred = model.predict(data)
  residuals = outcome - pred
  RSS = (residuals**2).sum()

  return (RSS)

In [120]:
rss_sample_train = rss(sample_model, sample_feat_test, sample_target_test)
print(f"RSS = {rss_sample_train}")

RSS = 247188303816340.38

In [121]:
from math import log

In [122]:
train_feat, train_target = train[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']], train.price

In [123]:
test_feat, test_target = test[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']], test.price

In [124]:
train_feat['bedrooms_sqrd'] = train_feat['bedrooms'].apply(lambda x: x**2)
test_feat['bedrooms_sqrd'] = test_feat['bedrooms'].apply(lambda x: x**2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [125]:
train_feat['bed_bath_rooms'] = train_feat['bedrooms'] * train_feat['bathrooms']
test_feat['bed_bath_rooms'] = test_feat['bedrooms'] *  test_feat['bathrooms']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
train_feat['log_sqft_living'] = train_feat['sqft_living'].apply(lambda x: log(x))
test_feat['log_sqft_living'] = test_feat['sqft_living'].apply(lambda x: log(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
train_feat['lat_plus_long'] = train_feat['lat'] + train_feat['long']
test_feat['lat_plus_long'] = test_feat['lat'] +  test_feat['long']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [128]:
train_feat[['bedrooms','bathrooms','lat','long','bedrooms_sqrd','bed_bath_rooms','log_sqft_living','lat_plus_long']].head()

,bedrooms,bathrooms,lat,long,bedrooms_sqrd,bed_bath_rooms,log_sqft_living,lat_plus_long
19141,3,2.50,47.3715,-122.126,9,7.50,7.501082,-74.7545
6948,4,2.50,47.4217,-122.201,16,10.00,7.659171,-74.7793
1100,5,4.50,47.5306,-122.134,25,22.50,8.711114,-74.6034
14867,3,1.00,47.3636,-122.093,9,3.00,6.966024,-74.7294
20183,3,2.25,47.4196,-122.193,9,6.75,7.253470,-74.7734

In [129]:
print(test_feat['bedrooms_sqrd'].mean())
print(test_feat['bed_bath_rooms'].mean())
print(test_feat['log_sqft_living'].mean())
print(test_feat['lat_plus_long'].mean())

12.088595882489011
7.44968771686329
7.53908750686766
-74.65326856349742

In [130]:
model_1_features = train_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
model_2_features = train_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
model_3_features = train_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_sqrd', 'log_sqft_living', 'lat_plus_long']]

In [131]:
model_1 = LinearRegression()
model_1 = model_1.fit(model_1_features, train.price)
model_2 = LinearRegression()
model_2 = model_2.fit(model_2_features, train.price)
model_3 = LinearRegression()
model_3 = model_3.fit(model_3_features, train.price)

In [132]:
print(f"Intercept 1: {model_1.intercept_}")
print(f"Coeffiecient 1: {model_1.coef_}")
print("---------------------------------------------------")
print(f"Intercept 2: {model_2.intercept_}")
print(f"Coeffiecient 2: {model_2.coef_}")
print("---------------------------------------------------")
print(f"Intercept 3: {model_3.intercept_}")
print(f"Coeffiecient 3: {model_3.coef_}")

Intercept 1: -70665153.04774949
Coeffiecient 1: [ 3.13717831e+02 -5.45371855e+04  1.49627464e+04  6.62713544e+05
 -3.20645445e+05]
---------------------------------------------------
Intercept 2: -68478526.73519862
Coeffiecient 2: [ 3.07720155e+02 -1.06905962e+05 -7.18928924e+04  6.59143004e+05
 -3.05631900e+05  2.54448776e+04]
---------------------------------------------------
Intercept 3: -62690546.81519629
Coeffiecient 3: [ 5.36028782e+02 -2.77974363e+03  9.74886981e+04  5.35425734e+05
 -4.10488643e+05 -1.70012867e+04  8.11567196e+02 -5.65185364e+05
  1.24937090e+05]

In [133]:
rss_1 = rss(model_1, model_1_features, sample_target)
rss_2 = rss(model_2, model_2_features, sample_target)
rss_3 = rss(model_3, model_3_features, sample_target)
print(f"RSS 1 = {rss_1}")
print(f"RSS 2 = {rss_2}")
print(f"RSS 3 = {rss_3}")

RSS 1 = 992289447385808.5
RSS 2 = 983211026780873.2
RSS 3 = 926843091939134.8

In [134]:
model_1_features_test = test_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]
model_2_features_test = test_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']]
model_3_features_test = test_feat[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_sqrd', 'log_sqft_living', 'lat_plus_long']]

In [135]:
rss_test_1 = rss(model_1, model_1_features_test, sample_target_test)
rss_test_2 = rss(model_2, model_2_features_test, sample_target_test)
rss_test_3 = rss(model_3, model_3_features_test, sample_target_test)
print(f"RSS 1 for test data: {rss_test_1}")
print(f"RSS 2 for test data: {rss_test_2}")
print(f"RSS 3 for test data: {rss_test_3}")

RSS 1 for test data: 202560080688715.22
RSS 2 for test data: 199894590975972.7
RSS 3 for test data: 192107897028658.88